<!-- index.html.erb  (species)-->
<br>
<h1> All the species you can swim with! </h1>
<br>
<br>

<div class='species-cards'>
      <% @species.each do |species| %>
       <div class="card-product">
         <%=  %>
          <div class="species-infos">
           <h2 class="tag"><%= %></h2>
           <div class= "description">
           <p><i class="fas fa-question"></i>  <%= species.description %></p></div>
           <div class= "size">
           <p><i class="fas XXX"></i> <%= species.size %> cm</p></div>
       </div>
     <% end %>
    <div>

<!-- <div class='container'>
 <div class='tool-index'>
   <div id="map"
       style="width: 50%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

   <div class='species-cards'>
      <% @species.each do |species| %>
       <div class="card-product">
         <%= cl_image_tag .species.key %>
          <div class="species-infos">
           <h2 class="tag"><%= link_to(Species.name, species_path(species))%></h2>
           <div class= "description">
           <p><i class="fas fa-question"></i>  <%= species.description %></p></div>
           <div class= "size">
           <p><i class="fas XXX"></i> <%= species.size %> cm</p></div>
       </div>
     <% end %>
    <div>
  <div>
</div>

 -->
