
<div class="container-species">
  <div class="img-species">
    <img <%= cl_image_tag @species.photo.key %>
  </div>
    <div class="rigth-description p-4 text-center">
      <div class="name-center ">
        <p><%=@species.latin_name%></p>
        <h1><%=@species.name%></h1>
      </div>
      <div class="container-description">
        <p><%=@species.description%></p>
      </div>
      <div class="name-center-item">

        <div class="tiret">
          <h3>Size</h3>
          <!-- <p>Size</p> -->
          <p><%=@species.size%></p>
        </div>
        <div class="tiret">
          <h3>Color</h3>
          <!-- <p>Color</p> -->
          <p><%=@species.color%></p>
        </div>
        <div class="tiret">
          <h3>Threats</h3>
        <!-- <p>Threats</p> -->
        <p><%=@species.threat_level%></p>
        </div>
      </div>
      <div class="btn btn-show">
        <p>Ou me trouver ?</p>
      </div>
      <!-- <div class="img-tag ">
        <p>Photos</p>

      </div> -->
    </div>
</div>


