<div class="container-species">
  <div class="img-species">
    <img <%= cl_image_tag @species.photo.key %>
  </div>
    <div class="rigth-description p-4 text-center">
      <div class="div-btn-previous">
        <a href="javascript:history.go(-1)">X</a>
      </div>
      <div class="name-center" id="footer">
        <h3><%=@species.latin_name%></h3>
        <h1><%=@species.name%></h1>
      </div>
      <div class="container-description" id="footer">
        <h3><%=@species.description%></h3>
      </div>
      <div class="name-center-item">

        <div class="tiret">
          <h3>Size</h3>
          <!-- <h3>Size</h3> -->
          <h4><%=@species.size%>m</h4>

        </div>
        <div class="tiret">
          <h3>Color</h3>
          <!-- <h3>Color</h3> -->
          <h4><%=@species.color%></h4>
        </div>
        <div class="tiret">
          <h3>Threats</h3>
        <!-- <h3>Threats</h3> -->
        <h5><%=@species.threat_level%></h5>
        </div>
      </div>
      <div class="btn btn-show">
        <%= link_to "Where to find me ?", tags_path(query: @species.name)%>
      </div>
      <div class=div-img>
        <div class="img-tag ">
          <h3>Last Pictures</h3>
          <h4><%= link_to "See all", ""%></h4>
        </div>
        <div class="card-show">
          <%@species.tags.last(3).each do |tag| %>
          <div class="card-product-show">
            <img><%= cl_image_tag tag.photo.key %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
</div>



