
<div class="container-species">
  <div class="img-species">
    <img <%= cl_image_tag @species.photo.key %>
  </div>
    <div class="rigth-description p-4 text-center">
      <div class="name-center ">
        <p><%=@species.latin_name%></p>
        <h1><%=@species.name%></h1>
      </div>
      <div class="container-description">
        <p><%=@species.description%></p>
      </div>
      <div class="name-center-item">
        <div class="tiret">
          <p><%=@species.size%></p>
        </div>
        <div class="tiret">
          <p><%=@species.color%></p>
        </div>
        <div class="tiret">
        <p><%=@species.threat_level%></p>
        threat_level
        </div>
      </div>
      <div class="btn">
        <p>Ou nous trouver</p>
      </div>
      <div class="img-tag">
        <p>Photos</p>
      </div>
    </div>
</div>


