
<div class="container-species">
  <div class="img-species">
    <img <%= cl_image_tag @species.photo.key %>
  </div>
    <div class="rigth-description p-4 text-center">
      <div class="name-center ">
        <h3><%=@species.latin_name%></h3>
        <h1><%=@species.name%></h1>
      </div>
      <div class="container-description">
        <h3><%=@species.description%></h3>
      </div>
      <div class="name-center-item">

        <div class="tiret">
          <h3>Size</h3>
          <!-- <h3>Size</h3> -->
          <h4><%=@species.size%></h4>
        </div>
        <div class="tiret">
          <h3>Color</h3>
          <!-- <h3>Color</h3> -->
          <h4><%=@species.color%></h4>
        </div>
        <div class="tiret">
          <h3>Threats</h3>
        <!-- <h3>Threats</h3> -->
        <h4><%=@species.threat_level%></h4>
        </div>
      </div>
      <div class="btn btn-show div-btn">
        <h3>Ou me trouver ?</h3>
      </div>
      <div class="img-tag ">
        <h3>Last Pictures</h3>
        <h4>See all</h4>

      </div>
    </div>
</div>


