
<div id="map-new-tag"
     style="width: 100%; height: 600px;"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="edit-form p-1">
  <div class="edit-form-container-tag">
    <div class="input-bloc">
      <h1>Post your new dive</h1>
    </div>
      <%= simple_form_for [:user, @tag] do |f| %>
        <div class="d-flex flex-column align-items test">
          <%= f.input :diving_date, input_html: { class: "bar" } %>
        </div>
        <div class="d-flex localisation">
          <%= f.input :spot_name, input_html: { class: "bar" } %>
          <%= f.input :latitude, input_html: { class: "bar" } %>
          <%= f.input :longitude, input_html: { class: "bar" } %>
        </div>
        <div class="d-flex localisation">
          <%= f.association :species, input_html: { class: "bar" } %>
          <%= f.input :depth, input_html: { class: "bar" } %>
          <%= f.input :description %>
        </div>
        <div class="d-flex localisation">
          <%= f.input :photo, as: :file %>
          <div>
            <%= f.button :submit, "Create a dive", class: "btn-form"  %>
            <%= f.button :button, "Cancel", type: "reset", class: "btn-form" %>
          </div>
          <% end %>
          <div class="btn-form-back">
            <%= link_to 'Back', tags_path %>
          </div>
        </div>
  </div>
</div>


