<div class="topnav">
  <div class="text-center dispo-liens">
    <%= link_to "/", class: "topnav-centered dispo-liens2" do %>
    <%= image_tag "logo.png", alt: "logo" %>
    <% end %>
    <% if user_signed_in? %>
    <il class="nav-item dropdown dispo-liens1">
      <%= image_tag "https://avatarfiles.alphacoders.com/207/thumb-207370.jpg", class: "zoom avatar dropdown-toggle m-3", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-right menu-avatar" aria-labelledby="navbarDropdown">
       <a class="dropdown-item item"><%= link_to "Post your dive", "" %></a>
       <a class="dropdown-item item"><%= link_to "Profile", "" %></a>
       <a class="dropdown-item item"><%= link_to "Log out", destroy_user_session_path, method: :delete%></a>
      </div>
    </il>
      <% else %>
      <a class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "text-center" %>
      </a>
      <% end %>
  </div>
</div>
