

<div class="topnav-map-bandeau">
  <%= link_to "/", class: "logo-home" do %>
    <%= image_tag "logo.png", alt: "logo" %>
    <% end %>
</div>

<div class="topnav-map-avatar">
    <% if user_signed_in? %>
    <il class="nav-item dropdown">
      <%= image_tag current_user.avatar, class: "zoom avatar dropdown-toggle m-3", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-right menu-avatar" aria-labelledby="navbarDropdown">
        <a class="dropdown-item item"><%= link_to "Add a tag", new_user_tag_path %></a>
        <a class="dropdown-item item"><%= link_to "Profile", user_path(current_user.id) %></a>
        <a class="dropdown-item item"><%= link_to "Log out", destroy_user_session_path, method: :delete%></a>
      </div>
    </il>
      <% else %>
      <a class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "text-center" %>
      </a>
      <% end %>
  </div>
