
<div class= "banner text-center">
  <div class= "title-banner">
    <h1>Let's go and approach a species on the map!</h1>
  </div>

  <div class= "searchbar">
    <div class= "searchbar-picto"> <%= image_tag "mask.png", class: "image-small-32" %> </div>
      <form novalidate="novalidate" class="simple_form search w-100" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
       <div class="search-form-control form-group">
         <input class="form-control string required" placeholder= "Type the species you dream of approaching" type="text" name="search[query]" id="search_query" />
         <button name="button" type="submit" class="btn btn-flat">
         <i class="fas fa-search"></i>
         </button>
        </div>
      </form>
    </div>
  </div>
</div>




<div id="carouselExampleSlidesOnly" class="carousel-slide" data-ride="carousel">
  <div class="carousel-inner">
    <h2>No idea ? let us guide you to one of these wonderful species...</h2>
    <br>
    <div class="carousel-item active">
      <%= image_tag "molamola.jpg", class: "d-block w-100", class:"slide" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "beluga.jpg", class: "d-block w-100", class:"slide" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "hippocampe.jpg", class: "d-block w-100", class:"slide" %>
    </div>
    <div class= "corailpic">
      <%= image_tag "coraux2.png", class: "corail" %>
      <div class= "about"><h2>...before diving into the world of Dive-in Ocean</h2></div>
    </div>
  </div>
</div>

<div class= "about-divin">
<p>Mauris at iaculis risus. In ut condimentum augue. Etiam vitae pellentesque magna. Vivamus vitae rhoncus mauris, sit amet vehicula felis. Phasellus id imperdiet magna, et tempus dui. Curabitur augue quam, vulputate et ipsum eget, rhoncus finibus metus. Vivamus viverra nisi sed dolor euismod bibendum.
Nam a fermentum velit. Quisque efficitur ac velit et rhoncus. Vivamus commodo lectus viverra ligula interdum pretium. In et felis neque. Fusce fringilla, lectus ac hendrerit pharetra, dui justo ullamcorper metus, ut pellentesque tellus felis a arcu. Aliquam commodo, magna vel mattis volutpat, magna ligula lobortis sem, eget rutrum nibh ligula ac nulla.</p>
</div>
