<div class="card-tag">
  <div class="species-name-in-popup">
    <%= link_to(Species.find(tag.species_id).name, species_path(tag.species_id))%>
  </div>
  <%= cl_image_tag tag.photo.key %>
  <div class="card-tag-infos">
    <div class="bloc-infos">
        <strong><h2><%=tag.diving_date%></h2></strong>
      <div class="infos">
        <p><strong><%=tag.user.username%></strong>,</p>
        <p>diving close to <strong><%=tag.spot_name%></strong> captured this picture at a depth of <strong><%=tag.depth%> meters</strong>.</p>
      </div>
      <div class="infos">
        <p>Lat: <%=tag.latitude%></p>
        <p>Lng: <%=tag.longitude%></p>
      </div>
    </div>
    <%= cl_image_tag tag.user.avatar.key, class: "card-tag-user avatar-bordered"%>
  </div>
</div>
