<div class="card-tag">
  <%= cl_image_tag tag.photo.key %>
  <div class="card-tag-infos">
    <div>
      <p><strong><%=tag.user.username%></strong>, diving close to <%=tag.spot_name%> on <%=tag.diving_date%> captured this picture at a depth of <%=tag.depth%> meters.</p>
      <p>Lat: <%=tag.latitude%></p>
      <p>Long: <%=tag.longitude%></p>
      <!-- <h1><%=tag.user.username%></h1>
      <p><%=tag.latitude%></p>
      <p><%=tag.longitude%></p>
      <p><%=tag.depth%> metres</p>
      <p><%=tag.diving_date%></p>
      <h2><%=tag.spot_name%></h2> -->
    </div>
    <h2 class="card-tag-pricing"></h2>
    <%= cl_image_tag tag.user.avatar.key, class: "card-tag-user avatar-bordered"%>
  </div>
</div>
