<div class="card-tag">
  <div class="species-name-in-popup">
    <%= link_to(tag.species.name, species_path(tag.species))%>
  </div>
  <%= cl_image_tag tag.photo.key %>
  <div class="card-tag-infos">
    <div class="bloc-infos">
        <h2><strong><%=tag.diving_date%></strong></h2>
      <div class="infos">
        <p><strong><%= link_to(tag.user.username, user_path(tag.user))%></strong></p>
        <p>diving close to <strong><%=tag.spot_name%></strong> captured this picture at a depth of <strong><%=tag.depth%> meters</strong>.</p>
      </div>



      <div class="infos">
        <p>Lat: <%=tag.latitude%></p>
        <p>Lng: <%=tag.longitude%></p>
      </div>

       <div class="bin">
         <%= link_to user_tag_path(tag), class: 'btn', data: {confirm: "Are you sure to destroy your tag?"}, method: :delete do %>
         <i class="far fa-trash-alt fa-2x"></i>
         <% end %>
       </div>




    </div>
    <%= cl_image_tag tag.user.avatar.key, class: "card-tag-user avatar-bordered"%>
  </div>
</div>

    