
<div id="map"
   style="width: 100%; height: 100vh;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<div class= "barre text-center">
  <div class= "container">
   <div class="row justify-content-center">
      <div class="barremap">
      <% if params[:query].present? && params[:secondquery].present? %>
      <div class="card-map2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @tags_species1.first.photo.key %>)">
       <h2><%= params[:query]%></h2>
        <div class="buttonmap">
          <h2 class="one"><%= link_to "More info about me", species_path(@tags_species1.first.species) %></h2>
        </div>
      </div>
      <div class="card-map3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @tags_species2.first.photo.key %>)">
       <h2><%= params[:secondquery]%></h2>
        <div class="buttonmap">
          <h2 class="one"><%= link_to "More info about me", species_path(@tags_species2.first.species) %></h2>
        </div>
      </div>
      <div class="buttontostart">
      <h2 class="startt"><%= link_to "start a new search!", root_path%> </h2>
      </div>
      </div>



      <% elsif params[:query].present? %>
      <div class="card-map1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @tags_species1.first.photo.key %>)">
       <h2><%= params[:query]%></h2>
        <div class="buttonmap">
          <h2 class="one"><%= link_to "More info about me", species_path(@tags_species1.first.species) %></h2>
        </div>
      </div>
      <br>



      <div class= "searchbarmap">
            <div class= "mapsearchbar-picto"> <%= image_tag "mask-search.png", class: "image-small-32" %> </div>
              <%= form_tag tags_path, class: "simple_form search w-100", method: :get do %>
              <%= hidden_field_tag :query,  params[:query] %>
            <div class="search-form-control form-group">
              <input class="form-control string required" placeholder= "Type a second species" type="text" name="secondquery" id="secondquery" />
              <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
              </button>
            </div>
            <% end %>
      </div>
    </div>
  </div>

    <% else %>
  <div class= container>
    <div class="row justify-content-center">
      <div class="comeanddive">
       <h2>Come and dive with us!</h2>
      </div>
        <div class= "searchbarmap">
          <div class= "searchbar-picto"> <%= image_tag "mask.png", class: "image-small-32" %> </div>
            <%= form_tag tags_path, class: "simple_form search w-100", method: :get do %>
            <div class="search-form-control form-group">
             <input class="form-control string required" placeholder= "Enter a species" type="text" name="query" id="query" />
             <button name="button" type="submit" class="btn btn-flat">
             <i class="fas fa-search"></i>
             </button>
          </div>
          <% end %>
        </div>
    </div>
  </div>
<% end %>

</div>
