
<div id="map"
   style="width: 100%; height: 85vh;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<div class= "barre text-center">
  <div class= "container">
   <div class="row justify-content-center">

      <% if params[:query].present? && params[:secondquery].present? %>
      <h2> <%= params[:query]%> and <%= params[:secondquery] %> are waiting for you there!</h2>
      <% elsif params[:query].present? %>
      <h2><%= params[:query]%> lives there!</h2>
      <br>

      <div class= "searchbar">
            <div class= "searchbar-picto"> <%= image_tag "mask.png", class: "image-small-32" %> </div>
              <%= form_tag tags_path, class: "simple_form search w-100", method: :get do %>
              <%= hidden_field_tag :query,  params[:query] %>
            <div class="search-form-control form-group">
              <input class="form-control string required" placeholder= "Type a second species" type="text" name="secondquery" id="secondquery" />
              <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
              </button>
            </div>
            <% end %>
      </div>
    </div>
  </div>

    <% else %>
  <div class= container>
    <div class="row justify-content-center">
      <h2>Come and dive with us!</h2>
        <div class= "searchbar">
          <div class= "searchbar-picto"> <%= image_tag "mask.png", class: "image-small-32" %> </div>
            <%= form_tag tags_path, class: "simple_form search w-100", method: :get do %>
            <div class="search-form-control form-group">
             <input class="form-control string required" placeholder= "Enter a species" type="text" name="query" id="query" />
             <button name="button" type="submit" class="btn btn-flat">
             <i class="fas fa-search"></i>
             </button>
          </div>
          <% end %>
        </div>
    </div>
  </div>
<% end %>

</div>
