<div class="card-tag">
  <img <%= cl_image_tag @tag.photo.key %>
  <div class="card-tag-infos">
    <div>
      <h1><%=@tag.user.username%></h1>
      <p><%=@tag.latitude%></p>
      <p><%=@tag.longitude%></p>
      <p><%=@tag.depth%> metres</p>
      <p><%=@tag.diving_date%></p>
      <h2><%=@tag.spot_name%></h2>
    </div>
    <h2 class="card-tag-pricing"></h2>
    <img class="card-tag-user avatar-bordered"<%= cl_image_tag @tag.user.avatar.key %>
  </div>
</div>





