<div class="container-species">
    <div class="img-species">

    </div>
    <div class="rigth-description p-4 text-center">
      <div class="name-center ">
        <h1><%=@tag.spot_name%></h1>
      </div>
      <div class="container-description">
        <p><%=@tag.diving_date%></p>
      </div>
      <div class="name-center-item">
        <div class="tiret">
          <p><%=@tag.latitude%></p>
        </div>
        <div class="tiret">
          <p><%=@tag.longitude%></p>
        </div>
        <div class="tiret">
        <p><%=@tag.depth%></p>
        </div>
      </div>

      <div class="img-tag">
        <p>Photos</p>
      </div>
    </div>
</div>
